body{
	

	font: 12px verdana, sans-serif;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    }
    #menu{
	list-style: none;	
	padding: 2;	
	background-color: #c90a00;

	}
	#menu li{
	display: inline;	
	color: #FFF;	
	padding: 15px;
	text-decoration: none;
	display: inline-block;	
	}
	#menu li a{
	color: #FFF;	
	text-decoration: none;
	display: inline-block;	
	}
	#menu li:hover{
	background-color: #2b879e;
	}
	#fotos {		
	
	padding: 30px;
	margin: 40px;
	border-radius: 40px;
	box-shadow: 2px 2px 25px black;
    right: 30px;
	background-image: cover;
	height:600px;
	}
	#gruposA{
	list-style: none;	
	list-style: none;
	padding: 10px 10px 10px 10px;
	border:	solid 2px #2b879e ;
	margin: 60px;
	position: relative;
	top: 40px;
	left: 150px;
	width: 300px;
	}
	#gruposB{
	list-style: none;	
	list-style: none;
	padding: 10px 10px 10px 10px;
	border:	solid 2px #2b879e ;
	margin: 60px;
	position: relative;
	bottom: 255px;
	left: 600px;
	width: 300px;
	}
	#gruposC{
	list-style: none;	
	list-style: none;
	padding: 10px 10px 10px 10px;
	border:	solid 2px #2b879e ;
	margin: 60px;
	position: relative;
	bottom: 260px;
	left: 150px;
	width: 300px;
	
	}
	#gruposD{
	list-style: none;	
	list-style: none;
	padding: 10px 10px 10px 10px;
	border:	solid 2px #2b879e ;
	margin: 60px;
	position: relative;
	bottom: 555px;
	left: 600px;
	width: 300px;
	}
	#catar {
	height: 30px;
	width: 30px;
	padding:5px
	}
	#equador{
	position: relative;
	height: 30px;
	width: 30px;
	padding:5px
	}	
	#senegal{
	position: relative;
	height: 30px;
	width: 30px;	
	padding:5px
	}
	#holanda{
	position: relative;
	height: 30px;
	width: 30px;	
	padding:5px
	}
	#tabela{
	
	}
	
		
	
