body{
	

	font: 12px verdana, sans-serif;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    }
    #menu{
	list-style: none;	
	padding: 2;	
	background-color: #c90a00;

	}
	#menu li{
	display: inline;	
	color: #FFF;	
	padding: 15px;
	text-decoration: none;
	display: inline-block;	
	}
	#menu li a{
	color: #FFF;	
	text-decoration: none;
	display: inline-block;	
	}
	#menu li:hover{
	background-color: #2b879e;
	}
	.times	{
	padding: 30px;
	margin: 40px;
	border-radius: 40px;
	box-shadow: 2px 2px 25px black;
    right: 30px;
	background-image: cover;
	height:600px;
	}
	.imagens:hover{
		transform:  scale(1.125);
	transition: 2s;	
	}
	
	h1 {
	font-size: 5vh;
	color: red;
	}
	#qatar{
    height: 100px;
	padding: 20px;
	}
	#ecuador{
    height: 100px;
	padding: 20px;
	transform:  scale(1.025);
	transition: 2s;
	}
	#senegal{
    height: 100px;
  	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	
	#holanda{
    height: 115px;	
	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#inglaterra{
    height: 140px;
	padding: 20px;
	position: relative;
	bottom: 40px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#ira{
    height: 100px;
	width: 80px;
    padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#unidos{
    height: 100px;
	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#gales{
    height: 100px;
	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#argentina{
    height: 120px;
	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#arabia{
    height: 100px;
	padding: 20px; 
	position: relative;
	top: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#mexico{
    height: 120px;
	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#polonia{
    height: 100px;
	padding: 20px;
	position: relative;
	top: 10px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#frança{
    height: 120px;
	padding: 20px;
	transform:  scale(1.025);
	transition: 1s;
	}
	#australia{
    height: 130px;
	padding: 20px;
	}
	#dinamarca{
    height: 110px;
	padding: 20px;
	position: relative ;
	right: 25px;
	top: 10px;
	}
	#tunisia{
    height: 140px;
	padding: 20px;
	position: relative;
	right: 70px
	}
	#espanha{
    height: 110px;
	width: 80px;
	padding: 20px;
	}
	#costa{
    height: 140px;
	padding: 20px; 
	position: relative;
	right: 50px;
    
	}
	#alemanha{
    height: 110px;
	padding: 20px;
	position: relative;
	right: 100px;
	}
	#japão{
    height: 100px;
	padding: 20px;
	position: relative;
	right: 80px;
	top: 20px
  	}
    #belgica{
    height: 150px;
	padding: 20px;
	position: relative;
	right: 100px;
	bottom: 20px
	}
	#canada{
    height: 100px;
	padding: 20px;
	position: relative;
	right: 140px;
	top: 10px;
	}
	#marrocos{
    height: 110px;
	padding: 30px;
	position: relative;
	right: 170px;
	}
	#croacia{
    height: 110px;
	padding: 20px;
	position: relative;
	right: 200px;
	}
	#brasil{
    height: 120px;
	width: 80px;
	padding: 20px;
	padding-left: 105px; 
	position: relative;
	top: 20px;
	}
	#servia{
    height: 120px;
	padding: 20px;
    position: relative;
    left: 10px;
	top: 25px;
	}
	#suiça{
    height: 120px;
	padding: 20px;
    position: relative;
	top: 20px;
	
	}
	#camaroes{
    height: 100px;
	padding: 20px;
	position: relative;
	top: 20px;
	
  	}
    #portugal{
    height: 100px;
	padding: 20px;
	position: relative;
	top: 15px;
	
	}
	#gana{
    height: 120px;
	padding: 20px;
	position: relative;

	}
	#uruguai{
    height: 110px;
	padding: 20px;
	position: relative;
	top: 10px;
	}
	#coreia{
    height: 110px;
	padding: 20px;
	position:relative;
	right: 20px;
	top: 10px;
	}
	#timesa{
	list-style: none;	
	list-style: none;
	display: flex;
	justify-content: 40px;	
	}
	#timesb{
	list-style: none;	
	list-style: none;
	display: flex;
	justify-content: 40px;	
	position: relative;
	left: 540px;
	bottom: 155px
	}
	#timesc{
	list-style: none;	
	list-style: none;
	display: flex;
	justify-content: 40px;	
	position: relative;
	bottom: 230px;
	}
	#timesd{
	list-style: none;	
	list-style: none;
	display: flex;
	justify-content: 40px;	
	position: relative;
	bottom: 410px;
	left: 550px;
	}
	#timese{
	list-style: none;	
	list-style: none;
	display: flex;
	justify-content: 40px;	
	position: relative;
	bottom: 450px;
	}
	#timesh{
	list-style: none;	
	list-style: none;
	display: flex;
	justify-content: 40px;	
	position: relative;
	bottom: 510px;
	right: 85px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
