body{
	

	font: 12px verdana, sans-serif;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    	}
    	#menu{
	list-style: none;	
	padding: 2;	
	background-color: #c90a00;

	}
	#menu li{
	display: inline;	
	color: #FFF;	
	padding: 15px;
	text-decoration: none;
	display: inline-block;	
	}
	#menu li a{
	color: #FFF;	
	text-decoration: none;
	display: inline-block;	
	}
	#menu li:hover{
	background-color: #2b879e;
	}
	#fifa{
	border: solid 7px #660022  ;	
	border-radius: 15px;
	box-shadow: 2px 2px 20px black;	
	align-items:center;
	}
	#taça {
	height: 300px;
	width: 300px;
	border: solid 7px #660022  ;	
	border-radius: 15px;
	box-shadow: 2px 2px 20px black;	
	}
	#mascote{
	position: relative;
	border: solid 7px #660022  ;
	height: 300px;
	width: 300px;
	border-radius: 15px;
	box-shadow: 2px 2px 20px black;
	}	
	#bola{
	position: relative;
	border: solid 7px #660022  ;
	height: 300px;
	width: 300px;
	border-radius: 15px;
	box-shadow: 2px 2px 20px black;	
	}
	#pmascote{
	display: flex;
    align-items: center;	
	border-radius: 15px;
	box-shadow: 2px 2px 20px black;
	}
	.fotos {
	list-style: none;
	display: flex;
	justify-content: space-around;	
	position: relative;
    top: 50px;
	
	}
	#pbola{
	font: 12px verdana, sans-serif;
	position: relative;
	right: 2px;	
	}
	#estadios {
	height: 300px;
	width: 400px;
	border: solid 7px #660022  ;	
	border-radius: 15px;
	box-shadow: 2px 2px 20px black;	
	}


	
