body{
	

	font: 12px verdana, sans-serif;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    	}
   	 #menu{
	list-style: none;	
	padding: 2;	
	background-color: #c90a00;

	}
	#menu li{
	display: inline;	
	color: #FFF;	
	padding: 15px;
	text-decoration: none;
	display: inline-block;	
	}
	#menu li a{
	color: #FFF;	
	text-decoration: none;
	display: inline-block;	
	}
	#menu li:hover{
	background-color: #2b879e;
	}
	#copa{
	}
	#taça {
	position: relative;
	bottom: 40px;
	left: 200px;	
	}
	#mascote{
	position: relative;
	left :700px;
	padding: left;
	}
	#pmascote{
	display: flex;
        align-items: center;
	border: solid 10px #2b879e ;	
	height: 300px;
	width: 300px;	
	}


	

